html {
    color-scheme: dark;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: black;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

#page {
    text-align: left;
    width: 800px;
    display: inline-block;
}

a {
    color: white;
}

ul {
    list-style-type: circle;
}

#terminal-input,
#terminal-input:focus,
#terminal-input:hover,
#terminal-input:active {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    color: white !important;
    font-family: inherit;
    font-size: inherit;
    outline: none !important;
    width: 70%;
    caret-color: white;
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 !important;
}

#terminal-input:-moz-ui-invalid,
#terminal-input:invalid {
    box-shadow: none !important;
    border: none !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}